# Arquivos de compilação
build/
*.exe
*.o
*.obj

# Arquivos de banco de dados
*.db

# Arquivos de log
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vs/
.vscode/
*.swp
*.swo

# Arquivos de backup
*~
*.bak 